.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: beige;
  width: 800px;
  height: 1100px;
}
body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
.left {
  display: flex;
  flex-direction: row;
}
.img1 {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  z-index: -2;
}
.dessert {
  font-family: Arial, Helvetica, sans-serif;
}
.addtocard {
  width: 140px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 10px;
  z-index: 20;
  margin-top: -30px;
  margin-left: 50px;
  position: absolute;
}
.addtocard:hover {
  background-color: orangered;
  color: white;
}
.activebutton {
  display: none;
  width: 140px;
  height: 40px;
  background-color: orangered;
  gap: 70px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 10px;
  z-index: 10;
  margin-top: -30px;
  margin-left: 50px;
  position: absolute;
}
.range,
.plus {
  margin-left: 10px;
}
.minus {
  margin-top: -15px;
}
.cartimg {
  margin-right: 5px;
  margin-left: 10px;
}
.words {
  line-height: 5px;
  margin-top: 30px;
}
.words span {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.words h3 {
  color: brown;
  font-family: sans-serif;
  font-size: 16px;
}
.count h1 {
  color: brown;
  margin-left: 20px;
}
.count {
  background-color: white;
  width: 350px;
  height: 260px;
  padding: 10px;
  border-radius: 10px;
}
.count img {
  margin-left: 100px;
}
.count p {
  margin-left: 60px;
}
.yourcard {
  background-color: white;
  width: 300px;
  height: 90px;
  padding: 10px;
  border-radius: 20px;
  line-height: 20px;
}
.yourcardtext {
  margin-left: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.remove {
  position: absolute;
  margin-left: 200px;
  margin-top: -10px;
}
.cost {
  margin-left: 30px;
}
@media screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  .count {
    display: flex;
    margin-top: 2600px;
    flex-direction: column;
  }
  .count img {
    width: 150px;
    height: 150px;
  }
  .count p {
    margin-left: 40px;
    font-size: 20px;
    color: brown;
  }
  .img1 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    z-index: -2;
  }
  .addtocard {
    margin-left: 120px;
  }
  .dessert {
    font-size: 50px;
  }
  .activebutton {
    margin-left: 120px;
  }
  /* .yourcard .remove {
    width: 30px;
    height: 30px;
  } */
}
